* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  background: #000;
}

.parent {
  width: 300px;
  height: 300px;
  border: 5px dashed #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  height: 50px;
  width: 50px;
  background: red;
  cursor: pointer;
}

.input {
  margin-top: 18px;
}
.input,
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 300px;
  cursor: pointer;
}

@media (max-width: 350px) {
  .parent,
  .input{
    padding: 0 20px;
  }
