* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  text-align: center;
  padding: 30px;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-align: center;
  background: dodgerblue;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 8px;
  text-transform: uppercase;
}
