* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: sans-serif;
}
hr {
  margin: 10px 0;
}
.container {
  background: #333;
  padding: 2rem 10rem;
}

.container > h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;
  color: transparent;
  background: linear-gradient(to right, rgb(255, 77, 77), rgb(71, 200, 255));
  background-clip: text;
  -webkit-background-clip: text;
}

.filter_container {
  background: #d9d9d9;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.output_container {
  align-self: center;
  margin: 2rem 0;
}

.output_container > img {
  height: 20rem;
  border-radius: 300px;
  border: 3px solid #000;
}

.filter_control_container {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-around;
}

.filter_primary_control_container {
  width: 40%;
}

.filter_primary_control_container > .input_container,
.filter_secondry_control_container > .input_container {
  display: flex;
  flex-direction: column;
}

.filter_secondry_control_container > .like_inline_element {
  flex-direction: row;
}

.input_container > label,
.code_container > label {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  /* color: red; */
}

.filter_primary_control_container,
.filter_secondry_control_container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.code_container > .code {
  margin-top: 0.8rem;
  position: relative;
}

.code_container > .code > textarea {
  background: red;
  padding: 0.8rem;
  outline: none;
  border: none;
  background: #f7f7fc;
  color: #000000;
  border-radius: 0.5rem;
  resize: none;
}

textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #005cc8;
  border-radius: 100px;
}

.code_container > .code > .copy_btn {
  background: none;
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  user-select: none;
  border-radius: 100px;
  border: 2px solid #005cc8;
  color: #005cc8;
}

.code_container > .code > .copy_btn:active {
  scale: 0.97;
}

.author > p {
  font-size: 1.5rem;
}

.author > p > a {
  color: red;
  text-underline-offset: 4px;
}

@media (max-width: 1000px) {
  .container {
    padding: 2rem 6rem;
  }
  .filter_control_container {
    justify-content: space-between;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 2rem 5rem;
  }

  .filter_primary_control_container {
    width: 100%;
  }
  .filter_control_container {
    flex-direction: column;
  }
  .container > h1 {
    font-size: 3.8rem;
  }
  .code_container > .code > textarea {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 2rem;
  }

  .container > h1 {
    font-size: 2.8rem;
  }

  .input_container > label,
  .code_container > label {
    font-size: 1.3rem;
  }
}

@media (max-width: 385px) {
  .container > h1 {
    font-size: 2.5rem;
  }
  .input_container > label,
  .code_container > label {
    font-size: 1.2rem;
  }

  .filter_control_container {
    padding: 1rem;
  }
}
