* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: rgb(0, 0, 0);
}

.parent {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
.btn,
span,
h3 {
  color: #fff;
}
.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 12px;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:last-child {
  margin: 0;
}
.btn:active{
  transform: translateY(5px);
}
.result {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.decrease {
  background: #f03e3e;
}

.increase {
  background: #37b24d;
}
.reset {
  color: #000;
}
