* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: sans-serif;
}
hr {
  margin: 10px 0;
}

.container {
  background: #333;
  padding: 2rem 10rem;
}

.container label,
.container img {
  user-select: none;
  -webkit-user-drag: none;
}
.container > h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;
  color: transparent;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
}

.filter_container {
  background: #d9d9d9;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.output_container {
  align-self: center;
  margin: 2rem 0;
  border: 3px solid #000;
  border-radius: 300px;
  overflow: hidden;
}

.output_container > img {
  height: 21rem;
  scale: 1.01;
}

.filter_control_container {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-evenly;
}

.filter_primary_control_container > .input_container,
.filter_secondry_control_container > .input_container {
  display: flex;
  flex-direction: column;
}

.filter_secondry_control_container > .like_inline_element {
  flex-direction: row;
}

.input_container > label,
.code_container > label {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.filter_secondry_control_container {
  width: 37%;
}
.filter_primary_control_container {
  width: 37%;
}
.filter_primary_control_container,
.filter_secondry_control_container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.code_container > .code {
  margin-top: 0.8rem;
  font-size: 1.4rem;
}
.code_container > .code > code {
  text-wrap: wrap;
}

.copy_btn {
  border: none;
  padding: 0.7rem 0;
  cursor: pointer;
  user-select: none;
  border-radius: 100px;
  border: 2px solid gray;
  color: gray;
  transition: all 0.2s;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 13px;
}

.copy_btn:hover {
  background: dodgerblue;
  border: 2px solid dodgerblue;
  color: #fff;
}
.copy_btn:active {
  scale: 0.97;
}

.reset {
  border: 2px solid red;
  color: red;
  padding: 0.7rem 0;
  font-size: 1.8rem;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  transition: all 0.2s;
}

.reset:hover {
  background: red;
  border: 2px solid red;
  color: #fff;
}
.reset:active {
  scale: 0.97;
}

.author > p {
  font-size: 1.8rem;
}

.author > p > a {
  color: red;
  text-underline-offset: 6px;
}
.author > p > a:hover {
  text-decoration: none;
}

/* Making Responsive */
@media (max-width: 1000px) {
  .container {
    padding: 2rem 6rem;
  }

  .filter_secondry_control_container {
    width: 45%;
  }
  .filter_primary_control_container {
    width: 45%;
  }

  .filter_control_container {
    justify-content: space-between;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 2rem 5rem;
  }

  .filter_secondry_control_container {
    width: 100%;
  }

  .filter_primary_control_container {
    width: 100%;
  }
  .filter_control_container {
    flex-direction: column;
  }
  .container > h1 {
    font-size: 3.8rem;
  }
  .code_container > .code > textarea {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 2rem;
  }

  .container > h1 {
    font-size: 2.8rem;
  }

  .input_container > label,
  .code_container > label {
    font-size: 1.3rem;
  }
}

@media (max-width: 385px) {
  .container > h1 {
    font-size: 2.5rem;
  }
  .input_container > label,
  .code_container > label {
    font-size: 1.2rem;
  }

  .filter_control_container {
    padding: 1rem;
  }
}
